.register{
    width: auto;
    background-color:rgb(186, 217, 224) ;
    position: fixed;top:0px;bottom: 0px;width: 100%;
    
}
div{
    align-items: center;
    margin:auto;
    text-align: center;

}
h1{
    text-align: center;
    font-weight: bold;
    font-family:'Algerian';
}

